.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input {
    color: #093559;
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    border: 3px solid #fff;
    outline: none;
    -webkit-appearance: none;
}

.field .hasBorder input {
    border-width: 2px;
    border-color: #093559;
}

.field input::placeholder {
    font-size: 16px;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: #093559;
}

.wrapper {
    position: relative;
}

.wrapper.password::after,
.wrapper.withIcon::after {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 0;
    content: '';
}

.wrapper.password::after {
    background-image: url('../../../../assets/images/icons/lock_green.svg');
}

.wrapper.withIcon::after {
    background-image: url('../../../../assets/images/icons/cc.svg');
}

.wrapper.withIcon_verified::after {
    background-image: url('../../../../assets/images/icons/check_green.svg');
}

.wrapper.withIcon_search::after {
    background-image: url('../../../../assets/images/icons/search.svg');
}

.wrapper.password input,
.wrapper.withIcon input {
    padding-right: 62px;
}

.wrapper_error input {
    border-color: #C8102E;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.wrapper_error.hasBorder input {
    border-color: #C8102E;
}

.wrapper_error.password::after {
    background-image: url('../../../../assets/images/icons/lock_red.svg');
}

.error {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: block;
    background-color: #C8102E;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 20px 7px 20px;
}

:global(.fcv-rtl) .field label {
    text-align: right;
    direction: rtl;
}

:global(.fcv-rtl) .field input {
    direction: rtl;
    text-align: right;
}

:global(.fcv-rtl) .wrapper.password::after,
:global(.fcv-rtl) .wrapper.withIcon::after {
    right: auto;
    left: 20px;
}

:global(.fcv-rtl) .wrapper.password input,
:global(.fcv-rtl) .wrapper.withIcon input {
    padding-left: 62px;
    padding-right: 20px;
}