 .fbButtonContainer {
     border-radius: 50%;
     background-color: #0464B2;
     height: 40px;
     overflow: hidden;
     border-width: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40px;
 }

 .fbButtonContainerStyle {
     display: flex;
     gap: 15px;
     align-self: center;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
 }