 .fbButtonContainer {
     border-radius: 50%;
     background-color: #0464B2;
     height: 40px;
     overflow: hidden;
     border-width: 0px;
     display: flex;
     justify-content: center;
     cursor: pointer;
     align-items: center;
     width: 40px;
 }

 .googleButtonContainer {
     border-radius: 50%;
     background-color: white;
     height: 40px;
     overflow: hidden;
     border-width: 0px;
     display: flex;
     justify-content: center;
     cursor: pointer;
     align-items: center;
     width: 40px;
 }

 .fbButtonContainerStyle {
     display: flex;
     gap: 20px;
     align-self: center;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
 }

 .googleIcon {
     height: 17px;
     width: 17px;
 }

 .facebookIcon {
     height: 25px;
     width: 25px;

 }