.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 100;
}

.header :global(.fcv-row) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
}

.header img {
    max-width: 195px;
    width: 100%;
}

.header .col {
    /* width: 50%; */
}

.header .col:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .col:nth-child(1) nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 90px;
}

.header .col:nth-child(1) nav a {
    font-weight: 600;
    margin-right: 30px;
}

.header .col:nth-child(1) nav a span {
    color: #093559;
}

.header_user {
    display: inline-block;
    border: 1px solid #0464B2;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.header_user_main {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 7px 45px 7px 15px;
}

.header_user:hover {
    background-color: #EBF9FF;
}

.header_user_main:after {
    transition: all 0.3s ease;
    transform: rotate(0deg);
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/images/icons/arrow-select-alt.svg');
    content: '';
}

.header_user_main.open:after {
    transform: rotate(180deg);
    margin-top: -11px;
}

.header_user_main img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 100%;
}

.header_user_drop {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 10px);
    background-color: #fff;
    border: 1px solid #0464B2;
    border-radius: 4px;
    overflow: hidden;
    display: none;
}

.header_user_drop.open {
    display: block;
}

.header_user_drop > a,
.header_user_drop > span {
    display: block;
    padding: 10px 15px;
    font-weight: 600;
    color: #093559;
    position: relative;
}

.header_user_drop > a:hover,
.header_user_drop > span:hover {
    background-color: #093559;
    color: #fff;
    text-decoration: none;
}

.header_user_drop > span:after,
.header_user_drop > a:after {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.header_user_drop > a:nth-child(1):after {
    background-image: url('../../assets/images/icons/profile.svg');
}
.header_user_drop > a:nth-child(1):hover:after {
    background-image: url('../../assets/images/icons/profile-white.svg');
}

.header_user_drop > a:nth-child(2):after {
    background-image: url('../../assets/images/icons/settings.svg');
}
.header_user_drop > a:nth-child(2):hover:after {
    background-image: url('../../assets/images/icons/settings-white.svg');
}

.header_user_drop > a:nth-child(3):after {
    background-image: url('../../assets/images/icons/card.svg');
}
.header_user_drop > a:nth-child(3):hover:after {
    background-image: url('../../assets/images/icons/card-white.svg');
}

.header_user_drop > span:nth-child(3):after,
.header_user_drop > span:nth-child(4):after {
    background-image: url('../../assets/images/icons/logout.svg');
}
.header_user_drop > span:nth-child(3):hover:after,
.header_user_drop > span:nth-child(4):hover:after {
    background-image: url('../../assets/images/icons/logout-white.svg');
}

.trigger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    top: 5px;
    z-index: 2;
}

.trigger i {
    transition: all 0.3s ease;
    transform: rotate(0deg);
    width: 30px;
    height: 2px;
    background-color: #09AEEF;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -15px;
}

.trigger i:nth-child(1) {
    top: 0;
}

.trigger i:nth-child(2) {
    top: 50%;
    margin-top: -1px;
}

.trigger i:nth-child(3) {
    bottom: 0;
}

.trigger_open i:nth-child(1),
.trigger_open i:nth-child(2) {
    top: 50%;
    margin-top: -1px;
    transform: rotate(45deg);
}

.trigger_open i:nth-child(3) {
    top: 50%;
    margin-top: -1px;
    transform: rotate(-45deg);
}

.mobile_menu {
    transition: all 0.7s ease;
    position: fixed;
    right: -350px;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding-top: 75px;
    display: none;
}

.mobile_menu_open {
    right: 0;
}

.mobile_menu a:nth-child(1) {
    border-top: 2px solid #EBF9FF;
}

.mobile_menu > a,
.mobile_menu > span {
    display: block;
    padding: 15px 20px;
    font-weight: 600;
    color: #093559;
    border-bottom: 2px solid #EBF9FF;
}

:global(.fcv-rtl) .header_user_drop > a,
:global(.fcv-rtl) .header_user_drop > span {
    text-align: right;
}

:global(.fcv-rtl) .header_user_drop > a:after,
:global(.fcv-rtl) .header_user_drop > span:after {
    right: auto;
    left: 10px;
}

@media screen and (max-width: 1024px) {
    .header {
        position: fixed;
        background-color: #fff;
    }
    .header .col:nth-child(1) nav {
        display: none;
    }
    .header_user {
        display: none;
    }
    .trigger {
        display: inline-block;
    }
    .mobile_menu {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .header img {
        max-width: 130px;
    }
    .header .col:nth-child(2) > a {
        padding: 8px 15px;
        min-width: 0;
    }
}