.WorkExperience {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    position: relative;
    margin-bottom: 12px;
}

.WorkExperience .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WorkExperience .head span {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
}

.WorkExperience .head span:nth-child(1) {
    color: #0E2E47;
}

.WorkExperience .head span:nth-child(2) {
    color: #0464B2;
}

.WorkExperience .body {
    text-align: left;
    color: #0E2E47;
    font-size: 12px;
    opacity: 0.5;
}

.WorkExperience .bottom {
    margin-top: 10px;
}

.WorkExperience .bottom p {
    background-color: #0464B2;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    padding: 5px 8px;
}

.WorkExperience .bottom p img {
    height: 16px;
    margin-right: 5px;
}

.WorkExperience .bottom p span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.WorkExperience.removable {
    padding-right: 40px;
}

.WorkExperience .removeButton {
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #C8102E;
    border-width: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url('../../../../../assets/images/icons/close-white.svg');
}

.WorkExperience .removeButton:hover {
    opacity: 0.8;
}

.WorkExperience.dark {
    background-color: #EBF9FF;
}

.WorkExperience.dark .bottom p span {
    color: #fff;
}

:global(.fcv-rtl) .WorkExperience.removable {
    padding-left: 40px;
    padding-right: 15px;
}

:global(.fcv-rtl) .WorkExperience {
    text-align: right;
    direction: rtl;
}

:global(.fcv-rtl) .WorkExperience .removeButton {
    right: auto;
    left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

:global(.fcv-rtl) .WorkExperience .body {
    text-align: right;
}

:global(.fcv-rtl) .WorkExperience .bottom p img {
    margin-right: 0;
    margin-left: 5px;
}