.languageBar {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 10px;
    margin-bottom: 12px;
}

.languageBar.removable {
    padding-right: 40px;
}

.languageBar .removeButton {
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #C8102E;
    border-width: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url('../../../../../assets/images/icons/close-white.svg');
}

.languageBar .removeButton:hover {
    opacity: 0.8;
}

.languageBar:last-child {
    margin-bottom: 0;
}

.languageBar > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.languageBar > div:nth-child(1) img {
    height: 20px;
}

.languageBar > div:nth-child(1) span {
    font-size: 14px;
    font-weight: 500;
    color: #0E2E47;
    margin-left: 7px;
}

.languageBar .languageLevel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.languageBar .languageLevel span {
    width: 18px;
    height: 6px;
    display: inline-block;
    background-color: #34A853;
    opacity: 0.2;
    border-radius: 2px;
    margin-left: 4px;
}

.languageBar .languageLevel span.active {
    opacity: 1;
}

:global(.fcv-rtl) .languageBar.removable {
    padding-left: 40px;
    padding-right: 10px;
}

:global(.fcv-rtl) .languageBar {
    direction: rtl;
}

:global(.fcv-rtl) .languageBar > div:nth-child(1) span {
    margin-left: 0;
    margin-right: 7px;
}

:global(.fcv-rtl) .languageBar .removeButton {
    right: auto;
    left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}