.button {
    text-decoration: none;
    background-color: #09AEEF;
    padding: 12px 25px;
    min-width: 150px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 2px solid #09AEEF;
}

.button span {
    font-weight: 600;
    color: #fff;
}

.button.red {
    background-color: #C8102E;
    border-color: #C8102E;
}

.button:hover {
    opacity: 0.7;
}

.buttonOutline {
    background-color: transparent;
}

.buttonOutline:hover {
    opacity: 1;
    background-color: #09AEEF;
}

.button[disabled] {
    background-color: #B2B2B2;
    border-color: #B2B2B2;
    pointer-events: none;
}