.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.wrapper h1 {
    text-align: center;
    margin-bottom: 50px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.col:nth-child(1) {
    width: 360px;
}

.col:nth-child(2) {
    width: calc(100% - 30px - 360px);
}

.sidebar {
    background-color: #EBF9FF;
    padding: 30px;
    border-radius: 6px;
}

.sidebar_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #09355920;
    margin-bottom: 20px;
}

.sidebar_head span {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #0464B2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url('../../assets/images/icons/fitler_white.svg');
}

.sidebar_head h5 {
    font-size: 20px;
    margin-bottom: 0;
}

.sidebar form label,
.sidebar form > div > div > p {
    font-size: 14px;
    font-weight: 500;
}

.sidebar form > div:last-child > div {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .content {
        flex-direction: column;
    }
    .col:nth-child(1) {
        width: 100%;
    }
    .col:nth-child(2) {
        width: 100%;
    }
    .sidebar {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        padding: 20px;
    }
    .sidebar_head {
        padding-bottom: 20px;
        margin-bottom: 15px;
    }
    .sidebar_head h5 {
        font-size: 16px;
    }
    .sidebar_head span {
        width: 40px;
        height: 40px;
        background-size: 30px;
    }
}