.default_layout {
    padding-top: 150px;
    padding-bottom: 120px;
}

.default_layout .content {
    min-height: 100vh;
}

.default_layout h1 {
    color: #0464B2;
}

.default_layout h2,
.default_layout h3,
.default_layout h4,
.default_layout h5,
.default_layout h6 {
    font-family: "Inter", sans-serif;
}