.table {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.table tbody {
    display: block;
    margin: 0;
    padding: 0;
}

.table tr {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C8CDD1;
    min-height: 54px;
    padding: 15px;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table tr:last-child {
    border-bottom: none;
}

.table th {
    flex: 1;
    font-weight: 500;
}

.table td {
    flex: 1;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
}

.table td img {
    max-width: 26px;
    margin-right: 10px;
}

:global(.fcv-rtl) .table tr {
    direction: rtl;
}

:global(.fcv-rtl) .table td img {
    margin-right: 0;
    margin-left: 10px;
}

:global(.fcv-rtl) .table th {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .table td {
        flex: auto;
        display: block;
        text-align: right;
    }
    .table tr {
        flex: auto;
        min-height: 40px;
        padding: 10px;
    }
    .table tr * {
        font-size: 14px;
    }
    .table td img {
        position: relative;
        top: 2px;
        margin-right: 5px;
        max-width: 18px;
    }
    :global(.fcv-rtl) .table th {
        text-align: right;
    }
    :global(.fcv-rtl) .table td {
        text-align: left;
    }
}