.link {
    text-decoration: none;
    display: inline-block;
    color: #09AEEF;
    cursor: pointer;
}

.link span {
    font-size: 16px;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
    color: #093559;
}

.link:global(.white) {
    color: #fff;
}