.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
}

.field input {
    color: #093559;
}

.field svg,
.field svg path {
    color: #093559;
}

.field :global(.react-select__control) {
    border-color: #fff !important;
    border-width: 3px;
    cursor: pointer;
    padding: 5px 10px 5px 20px;
}

.field :global(.country-select),
.field :global(.default-select) {
    grid-area: 1 / 1 / 2 / 3;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: #093559;
}

.field :global(.country-select) img {
    height: 16px;
    display: inline-block;
    margin-right: 8px;
}

.field :global(.react-select__indicator-separator) {
    display: none;
}

.field :global(.react-select__indicator) {
    transition: all 0.3s ease;
    transform: rotate(0deg);
}

.field :global(.react-select__control--menu-is-open .react-select__indicator) {
    transform: rotate(180deg);
}

.field :global(.react-select__value-container) {
    padding: 0;
}

.field :global(.react-select__input-container) {
    padding: 0;
    margin: 0;
}

.field :global(.react-select__placeholder) {
    font-size: 16px;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: #093559;
    text-align: left;
    padding: 0;
    margin: 0;
}

.field :global(.react-select__menu) {
    overflow: hidden;
}

.field :global(.react-select__option) {
    cursor: pointer;
}

.field :global(.react-select__option) div {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #093559;
}

.field :global(.react-select__option) div img {
    display: inline-block;
    height: 14px;
    margin-right: 8px;
}

.field :global(.react-select__option--is-selected) div {
    color: #fff;
}

.wrapper {
    position: relative;
}

.wrapper_error :global(.react-select__control){
    border-color: #C8102E !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.error {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: block;
    background-color: #C8102E;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 20px 7px 20px;
}

:global(.fcv-rtl) .field {
    direction: rtl;
}

:global(.fcv-rtl) .field :global(.react-select__control) {
    padding: 5px 20px 5px 10px;
}

:global(.fcv-rtl) .field :global(.react-select__placeholder) {
    text-align: right;
}

:global(.fcv-rtl) .field :global(.country-select) img {
    margin-right: 0;
    margin-left: 8px;
}

:global(.fcv-rtl) .field :global(.react-select__option) div img {
    margin-right: 0;
    margin-left: 8px;
}