.wrapper {
    max-width: 750px;
    width: 100%;
    margin: auto;
}

.head {
    background-color: #EBF9FF;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 13px 20px;
    min-height: 60px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head > div {
    flex: 1;
}

.head > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.head > div:nth-child(2) > div {
    margin-left: 15px;
}

.body {
    background-color: #EBF9FF;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 50px;
}

.job_head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.job_head_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #0E2E47;
    border-radius: 100%;
    margin-right: 20px;
}

.job_head_icon img {
    width: 50px;
    height: auto;
}

.job_head h1 {
    color: #0E2E47;
    font-size: 30px;
    margin-bottom: 3px !important;
}

.job_head p, .job_head p a {
    font-size: 14px;
    color: #0464B2;
}

.job_head p a:hover {
    color: #09AEEF;
}

.job_date {
    font-size: 14px;
    color: #83A3AD;
    margin-bottom: 30px;
}

.job_description {
    margin-bottom: 30px;
}

.job_description ul, .job_description ol {
    margin-left: 20px;
}

.job_apply {
    text-align: center;
    margin-top: 20px;
}

.jobs_head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EBF9FF;
    border-radius: 6px;
    margin-bottom: 25px;
    padding: 13px 20px;
    min-height: 60px;
    font-weight: 500;
}

:global(.fcv-rtl) .head {
    direction: rtl;
}

:global(.fcv-rtl) .head div:nth-child(1) {
    text-align: right;
}

:global(.fcv-rtl) .head div:nth-child(2) > div {
    margin-left: 0;
    margin-right: 15px;
}

:global(.fcv-rtl) .job_head {
    direction: rtl;
}

:global(.fcv-rtl) .job_head_icon {
    margin-right: 0;
    margin-left: 20px;
}

:global(.fcv-rtl) .job_head > div:nth-child(2) {
    text-align: right;
}

:global(.fcv-rtl) .job_date {
    text-align: right;
}

:global(.fcv-rtl) .job_description {
    text-align: right;
    direction: rtl;
}

:global(.fcv-rtl) .job_description ul, :global(.fcv-rtl) .job_description ol {
    margin-left: 0;
    margin-right: 20px;
}

:global(.fcv-rtl) .jobs_head {
    direction: rtl;
}

@media screen and (max-width: 600px) {
    .body {
        padding: 20px;
    }
    .job_head_icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .job_head_icon img {
        width: 24px;
    }
    .job_head {
        margin-bottom: 10px;
    }
    .job_head h1 {
        font-size: 20px;
    }
    .job_head p, .job_head p a {
        font-size: 12px;
    }
    .job_date {
        font-size: 12px;
        margin-bottom: 10px;
    }
}