.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input {
    color: #093559;
    width: 100%;
    padding: 12px 20px 12px 5px;
    max-height: 46px;
    border-radius: 5px;
    border-width: 0;
    outline: none;
    -webkit-appearance: none;
}

/* remove default browser number arrows */
.field input[type=number] {
    -moz-appearance: textfield;
}

.field input[type=number]::-webkit-inner-spin-button,
.field input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 50px;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    border: 3px solid #fff;
}

.field .hasBorder {
    border-width: 2px;
    border-color: #093559;
}

.field input::placeholder {
    font-size: 16px;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: #093559;
}

.prefix {
    color: #093559;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    top: 1px;
    font-size: 14px;
    font-weight: 700;
}

.buttons {
    position: absolute;
    width: 50px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 2px solid #093559;
}

.buttons span {
    position: absolute;
    width: 100%;
    border-radius: 0;
    border-width: 0;
    right: 0;
    cursor: pointer;
    height: 50%;
    box-sizing: border-box;
    background-color: #fff;
    background-position: center calc(50% + 1px);
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url('../../../../assets/images/icons/chevron.svg');
}

.buttons span:hover {
    background-color: #09355920;
}

.buttons span:nth-child(1) {
    transform: rotate(180deg);
    top: 0;
    border-top: 1px solid #093559;
}

.buttons span:nth-child(2) {
    bottom: 0;
    border-top: 1px solid #093559;
}

.wrapper_error {
    border-color: #C8102E;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.wrapper_error.hasBorder {
    border-color: #C8102E;
}

.wrapper_error .buttons {
    border-left-color: #C8102E;
}

.wrapper_error .buttons span {
    border-top-color: #C8102E;
}

.error {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: block;
    background-color: #C8102E;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 20px 7px 20px;
}

:global(.fcv-rtl) .wrapper {
    direction: rtl;
    padding-left: 15px;
    padding-right: 65px;
}

:global(.fcv-rtl) .field input {
    padding: 12px 5px 12px 20px;
}

:global(.fcv-rtl) .field label {
    text-align: right;
    direction: rtl;
}