.field {
    text-align: left;
    margin-bottom: 20px;
}

.label {
    margin-bottom: 10px;
}

.option {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}

.option label {
}

.option input {
    display: none;
}

.option span {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.option span:before {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -10px;
    border: 2px solid #fff;
    border-radius: 100%;
    content: '';
}

.option span:after {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 4px;
    top: 50%;
    margin-top: -6px;
    background-color: #fff;
    border-radius: 100%;
    content: '';
    opacity: 0;
}

.option span:hover:after {
    opacity: 0.2;
}

.option input:checked + span:after {
    opacity: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-wrap: wrap;
}

.wrapper_onePerLine {
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #ffffff20;
}

.wrapper_onePerLine .option {
    margin-right: 0;
    margin-bottom: 15px;
}

.wrapper_onePerLine .option:last-child {
    margin-bottom: 0;
}

.wrapper_dark .option span:before {
    border-color: #093559;
    background-color: #fff;
}
.wrapper_dark .option span:after {
    background-color: #093559;
}

.wrapper_checkbox .option span {
    user-select: none;
    padding-left: 45px;
}

.wrapper_checkbox .option span:before {
    width: 28px;
    height: 28px;
    margin-top: -14px;
    border: 2px solid #fff;
    border-radius: 6px;
}

.wrapper_checkbox .option input:checked + span:before {
    background-color: #fff;
}

.wrapper_checkbox .option span:after {
    border-radius: 0;
    width: 14px;
    left: 7px;
    top: 50%;
    margin-top: -6px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/images/icons/tick_white.svg');
}

.wrapper_checkbox .option input:checked + span:after {
    background-image: url('../../../../assets/images/icons/tick.svg');
}

.wrapper_checkbox.wrapper_dark .option span:before {
    border-color: #093559;
}

.wrapper_checkbox.wrapper_dark .option input:checked + span:before {
    background-color: #093559;
}

.wrapper_checkbox.wrapper_dark .option span:after {
    background-image: url('../../../../assets/images/icons/tick.svg');
}

.wrapper_checkbox.wrapper_dark .option input:checked + span:after {
    background-image: url('../../../../assets/images/icons/tick_white.svg');
}

.wrapper_error {}

.error {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: block;
    background-color: #C8102E;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px 7px 20px;
}

:global(.fcv-rtl) .label {
    text-align: right;
    direction: rtl;
}

:global(.fcv-rtl) .wrapper {
    direction: rtl;
}

:global(.fcv-rtl) .option {
    margin-right: 0;
    margin-left: 20px;
}

:global(.fcv-rtl) .option span {
    padding-left: 0;
    padding-right: 35px;
}

:global(.fcv-rtl) .option span:before {
    left: auto;
    right: 0;
}

:global(.fcv-rtl) .option span:after {
    left: auto;
    right: 4px;
}

:global(.fcv-rtl) .wrapper_checkbox {
    margin-left: 0;
}

:global(.fcv-rtl) .wrapper_checkbox .option span:after {
    right: 7px;
}